LocalizableTextGenerator.xcodeproj/project.xcworkspace/xcuserdata/congnc.xcuserdatad/UserInterfaceState.xcuserstate
LocalizableTextGenerator.xcworkspace/xcuserdata/congnc.xcuserdatad/UserInterfaceState.xcuserstate
